*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
div{
    overflow: hidden;
}
.banner{
    width: 100%;
    height: 100vh;
    /*background*/
    background-image: 
        linear-gradient(45deg,
        #3a2f6b,
        #36669c,
        #41a0ae,
        #3ec995,
        #77f07f
        );
    background-size: 400%;
    animation: bg-animation 10s infinite alternate;
}
.about{
    width: 100%;
    height: 60vh;
    text-align: center;
    border-bottom: 1px solid black;
}
.resources{
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    text-align: center;
}
.column{
    float:left;
    width: 40%;
    margin-bottom: 30px;
}
.column p{
    font-size: small;
}
@keyframes bg-animation{
    0% {background-position: left}
    100% {background-position: right}
}
.navbar{
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    margin-top: 10px;
    position: relative;
}
.navbar h1 a{
    text-decoration: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 00%;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 50px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
button span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border-color: transparent;
}

footer{
    background-color: #111;
    padding: 10px;
}
.footercontainer{
    width: 100%;
}
.icons{
    display: flex;
    justify-content: center;
}
.icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.icons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.icons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.icons a:hover i{
    color: white;
    transition: 0.5s;
}
.footernav{
    margin: 30px 0;
    margin-right: 10px;
}
.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footernav ul li a:hover{
    opacity: 1;
}
@media (max-width: 700px){
    .footernav ul{
        flex-direction: column;
    }
    .footernav ul li{
        width: 100%;
        text-align: center;
        margin: 10px; 
    }
}
